.comboBoxOption {
  padding: 5px;
}


.logo {
  width: 26px;
  height: 26px;
  margin: 0 10px;
  cursor: pointer;
}

.codebrahma-logo {
  width: 170px;
  height: 25px;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  box-shadow: 2px 0px 6px 3px rgba(0, 0, 0, 0.1)
}

.title {
  transform: translateX(-15%);
}

.container {
  display: flex;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.filter-outer-container {
  width: 45%;
  margin-right: 20px;
}

.filter-field {
  width: 100%;
  height: 40px;
}

.output-container {
  width: 50%;
}

.json-view-container {
  min-height: 400px;
  max-height: 400px;
  overflow-x: auto;
  border: 1px solid grey;
  padding: 15px 0 15px 15px;
}

.sub-title {
  font-weight: 500;
}
